.subscriptions__change {
    font-family: 'RobotoMono', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #A2A2A2;
    display: inline-block;
    margin-top: -24px;
    margin-bottom: 32px;
}

.subscriptions__change:hover {
    text-decoration: none;
    color: #A2A2A2;  
}

.subscriptions__types {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 60px;
    row-gap: 12px;
    font-family: 'DrukTextCyrHeavy', sans-serif;
    font-weight: 900;
    font-size: 16px;
    line-height: 28px;
    color: #000000;
    margin-bottom: 66px;
}

.square-radio {
    display: flex;
    align-items: center;
    gap: 8px;
    transition: opacity 0.3s;
}

.square-radio:hover {
    opacity: 0.8;
} 

.square-radio input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    padding: 0 !important;
    margin: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #333;
    position: relative;
    cursor: pointer;
    opacity: 1;
}

.square-radio input[type="radio"]:checked::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #333;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.square-radio label {
    cursor: pointer;
}

.form__label_description {
    font-family: 'RobotoMono', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 167%;
    color: #A2A2A2;
    margin-bottom: 18px;
}

.from-item {
    margin-bottom: 73px;
}

.from-item__mb_90 {
    margin-bottom: 90px;
}

.from-item__mb_80 {
    margin-bottom: 90px;
}

.form__group {
    display: flex;
    width: 100%;    
}

.form__group .form-control {
    flex-grow: 1;
}

.form__group-info {
    font-family: 'RobotoMono', sans-serif;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    color: #000000;
    background: #D9D9D9;
    border: 1px solid #CACACA;
    border-left: none;
    padding-left: 26px;
    padding-right: 26px;
    min-width: 138px;
}

.form__group-icon {
    margin-right: 12px;
}

.form__group .select {
    flex-grow: 1;
}

.form__group .new-select.on,
.form__group .new-select {    
    background-image: none;
}

.form__group .new-select__list {
    background-color: #E2E2E2;
}

.form__group .new-select__item:hover span{
    background-color: #D9D9D9;   
}

.container-grid .arrows__wrap-mid {
    max-width: 547px;
}

.form_wrap_yellow {
    background-color: #F9E855;
}

.form_wrap_yellow .form_header {
    max-width: 380px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.form_wrap_yellow .form_link {
    background-color: #FFF178;
    border: 1px solid #464646;
    text-transform: none;   
    box-shadow: 3px 3px 0px 0px rgba(70, 70, 70, 1);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.form_wrap_yellow .form_link:hover {
    background-color: #fdf28f;
    box-shadow: 3px 3px 0px 0px rgba(70, 70, 70, 0);
}

.form_short-text_margin-big {
    margin-bottom: 27px;
}

.form_short-text_large {
    font-size: 16px !important;
}

.form_error {  
    line-height: 167%;
}

.logout {
    margin-top: 45px;
    margin-bottom: 45px;
    display: block;
}

.subscription__payment_block {
    margin-bottom: 60px;
}

.arrows_item_left {  
    text-decoration: none;
    
}

.arrows__header {
    line-height: 1.2;
}

.arrows_item svg {    
    margin-bottom: 6px;
}

/* .subscription__tariffs_item:hover > div {
    background: #F9E855;
    border: 3px solid #D5CE1A;
    cursor: pointer;
} */
.subscription__tariffs_item.active > div {
    background: #F9E855;
    border: 3px solid #D5CE1A;   
}

.post-img {
    position: relative;
}

.post-img .post-meta__faves {
    top: 18px;
    left: -80px;
}

.full-width {
    position: relative;
}

.full-width  .post-meta__faves {
    top: 0;
    left: -80px;
}

.form__info_wrap .form_status {
    margin-top: -5px;
    margin-bottom: -5px;
}

.form__label {
    display: flex;
    align-items: center;
}

.form_wrap_inside_margin {
    margin-bottom: 80px;
}

.form_section_text .form_short-text_left {   
    font-size: 18px;
    line-height: 26px;
    line-height: 1.44;
    padding-bottom: 12px;
}

.form_short-text_center {
    text-align: center !important;
}

.form_actions_wrapper {
    font-size: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.form_actions_link {
    font-family: 'Spectral', serif;   
    font-weight: 400;
    font-size: 22px;
    display: flex;
    align-items: center;
    gap: 4px;
}

.form-link_margin {
    margin-bottom: 50px;
}

.form__information_warning {
    font-family: 'Spectral', serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.27;
    margin-bottom: 45px;
    text-align: center;
}

.form_wrap_inside_wide {
    max-width: 580px;
}

.form_simple_link.form_short-text_right {
    font-family: 'RobotoMono', sans-serif;
    font-weight: 500;
    font-size: 10px;    
    text-decoration-line: underline;
    color: #949494;
    padding-top: 8px;
    transition: text-decoration 0.3s;
}

.form_simple_link.form_short-text_right:hover {
    text-decoration: none;
}

.form_short-text_right {
    display: inline-block;
    text-align: right !important;
    width: 100%;
}

.form_section_margin_none {
    margin-bottom: 0;
}

.form_wrap button, .form_link, .form_wrap a.form_link_short {  
    background-color: #E2E2E2;
}

.form_link svg {    
    margin-left: 20px;
}

.form__label {
    margin: 0 0 8px;
}

.form_promo_error {
    color: #C86F6F;
}

.rubric__subscription_blur span { 
    backdrop-filter: blur(0px);
}

#form_edit_one .new-select {
    width: 100%;
}

.edit-collection-types {    
    margin-bottom: 4px;
}

.edit-collection-types .square-radio {
    gap: 12px;
    margin-bottom: 40px;
}

.edit-collection-type label {   
    font-family: 'RobotoMono', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: #020202;
    margin-left: 12px;
}

.edit-collection-types-icons {
    transform: translateY(2px);
}

.form__label_dark {
    font-family: 'RobotoMono', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 12px;
}

#form_edit_one .square-radio input[type="radio"] {
    flex: 0 0 20px;
}

.form__info_wrap .form_status {    
    text-transform: none;   
}

.form_text {
    text-overflow: ellipsis;
    overflow: hidden;
}

@media screen and (min-width: 992px) {
    .subscription__tariffs_item:hover > div {
        background: #F9E855;
        border: 3px solid #D5CE1A;
        cursor: pointer;
    }
}

@media screen and (max-width: 1140px) {
    .full-width  .post-meta__faves {        
        left: -60px;
    }
}

@media screen and (max-width: 780px) {
    .container-grid .arrows__wrap-mid {
        max-width: 340px;
    }

    .post-img .post-meta__faves {      
        left: -60px;
    }

    .full-width  .post-meta__faves {        
        left: -60px;
    }
}


@media screen and (max-width: 480px) {
    .form__group-info {       
        min-width: unset;
        padding-left: 18px;
        padding-right: 18px;
    }

    .form__group-icon {
        margin-right: 0;
    }

    .form__group-info span {
        display: none;        
    }

    .container-grid .arrows__wrap-mid {
        display: none;
    }

    .form_text {
       font-size: 18px;
    }
}